nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    a.navbar-brand(href='#')
      // Use Font Awesome for a generic logo
      i.fas.fa-asterisk
      |&nbsp;MY API
    button.navbar-toggler(
      type='button'
      data-toggle='collapse'
      data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent'
      aria-expanded='false'
      aria-label='Toggle navigation'
    )
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='/')
            | Home
        if showLogin
          li.nav-item
            a.nav-link(href='/auth#register') Register
          li.nav-item
            a.nav-link(href='/auth#login') Login
        else
          li.nav-item
            a.nav-link(href='/users/app') Users
          li.nav-item
            a.nav-link(href='/auth/logout') Logout
